body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .container {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .status-container {
    margin-bottom: 20px;
  }
  
  .status-text {
    font-size: 16px;
    color: #333;
  }
  
  .toggle-button {
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-bottom: 10px;
  }

  .toggle-button.this {
    background-color: #0056b3;
  }
  .toggle-button.this:hover {
    background-color: #004c9f;
  }
  .toggle-button.all {
    background-color: #4CAF50;
  }
  .toggle-button.all:hover {
    background-color: #3c8c40;
  }
  
  .info {
    font-size: 16px;
    color: #333;
    text-align: center;
  }
  
  .version {
    font-size: 12px;
    color: #333;
    text-align: center;
    margin-top: 20px;
  }